sphinx
furo
sphinx_rtd_theme
sphinxcontrib-jquery
sphinxcontrib-fulltoc
sphinxcontrib-htmlhelp
sphinxcontrib-serializinghtml
sphinxcontrib-qthelp
sphinxcontrib-devhelp
sphinxcontrib-jsmath
sphinxcontrib-plantuml
sphinxcontrib-bibtex
sphinxcontrib-websupport
sphinx-multiversion
sphinx-autobuild
gitpython